.exercise-guide {
    display: flex;
    margin: 150px auto;
    width: 90%;
    flex-wrap: wrap;
}

.exercise-guide > * {
    margin: 20px;
    flex: 1;
}


.exercise-guide .exercise-information h2 {
    font-size: 50px;
    border-bottom: 2px solid white;
    margin-bottom: 20px;
}

.exercise-guide .exercise-information p {
    font-size: 22px;
}

.exercise-video iframe{
    width: 50vw;
    height: 60vh;
}

@media only screen and (max-width: 1230px) {
    .exercise-guide > * {
        flex: 100%;
    }

    .exercise-video iframe{
        width: 100%;
        height: 60vh;
    }
}
