.search-bar {
    display: flex;
    width: 100%;
    justify-content: center;
}

.search-bar > * {
    border: none;
    height: 45px;
    padding: 10px;
    outline: none;
}

.search-bar input[type=text] {
    width: 40%;
    margin: 10px 0;
    border-radius: 15px 0 0 15px;
    color: #202020;
}

.search-bar .submit-btn {
    font-size: 30px;
    width: 10%;
    margin: 10px 0;
    padding: 0;
    background-color: #FF6B00;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
}

.search-bar .filter-btn {
    line-height: 0;
    width: 15%;
    margin: 10px;
    background-color: #FF6B00;
    border-radius: 15px;
    cursor: pointer;
    font-size: 2.2vw;
}

.excercises-heading {
    font-size: 2em;
    text-align: center;
}

.excercises {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.1);
    width: 70%;
    min-height: 240px;
    margin: 20px auto;
    border-radius: 15px;
}

.excercises .excercise {
    border-radius: 15px;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin: 20px;
}

.excercises .excercise img {
    width: 100%;
    height: auto;
}

.excercises .excercise p {
    text-align: center;
    position: relative;
    top: -250px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 18px;
}

.excercises .excercise a{
    text-decoration: none;
}

.excercise-gradient {
    opacity: 0;
    transition: opacity 0.5s;
}

.excercises .excercise:hover a .excercise-gradient{
    opacity: 1;
    position: relative;
    top: -205px;
    width: 100%;
    height: 200px;
    /* background-color: aquamarine; */
    background: linear-gradient( rgba(255, 255, 255, 0), black);
}

.excercises .excercise:hover a p {
    visibility: visible;
    opacity: 1;
    display: block;
}


/* FILTER */
.filter-window {
    width: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #202020;
    height: 390px;
    padding-top: 10px;
    border-radius: 15px;
    z-index: 40;
    display: none;
}

.filter-close-btn {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid white;
    text-align: end;
    width: 90%;
    margin: auto;
    padding-bottom: 5px;
}

.filter-close-btn > *{
    color: white;
    vertical-align: middle;
    cursor: pointer;
}

.keywords {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.keyword {
    height: 35px;
    line-height: 35px;
    width: max-content;
    background-color: #424242;
    padding: 0px 10px;
    border-radius: 50px;
    margin: 0 20px 10px 0;
    color: white;
    cursor: pointer;
}

.keyword-close-btn {
    background: linear-gradient(90deg,rgba(0, 255, 0, 0),  #424242, #424242);
    position: relative;
    left: 10px;
    height: 26px;
    width: 40px;
    text-align: center;
    border-radius: 0 50px 50px 0;
    display: inline-block;
    margin-left: -40px;
    opacity: 0;
}

.keyword-close-btn i {
    position: relative;
    top: 4px;
    left: 6px;
    font-size: 20px;
}

.filter-background {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 30;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display:none;
}

.keyword.selected {
    outline: 1px solid white;
}

.keyword.selected .keyword-close-btn {
    opacity: 1;
}

.filter-window.opened {
    display: block;
}

.filter-background.opened {
    display: block;
}